.example-container {
  width: 100%;
  height: calc(100vh - 55px) !important;
  margin: 12px;
  border: 1px solid #555;
  margin: 0 !important;
  overflow-x: hidden !important;
}

mat-drawer-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bbst-head {
  background: #fff;
  height: 55px;
  padding: 0 24px;
  display: flex;
  align-items: center;
}

h1 {
  margin: 0;
  font-size: clamp(1rem, 3vw, 2rem);
  font-weight: 500;
  color: var(--text-color-02);
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.pics-logo{
  width: 42px;
}

