<h2 mat-dialog-title>Ontologie</h2>
<mat-dialog-content class="mat-typography">
  <h3>Select Class : {{ data.value }}</h3>
  <small class="owl-small-text"
    >Trouver en détail tout les elements tournant autour de l'element
    <em>{{ data.value }}. </em> Interargisser avec <br />
    le menu ci-dessous pour voir les class, property, instance.</small
  >

  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="Class">
      <section>
        <section class="row w-100">
          <section class="col-6">
            <h3>Sous Class</h3>
            @if (sousClass?.length != 0) {
            <ul>
              @for (item of sousClass; track $index) {
              <li>{{ item }}</li>
              }
            </ul>
            } @else {
            <small class="owl-small-text">Aucune sous class disponible.</small>
            }
          </section>
          <section class="col-6">
            <h3>Class Parente</h3>
            @if (parentClass?.length !=0) {
            <ul>
              @for (item of parentClass; track $index) {
              <li>{{ item }}</li>
              }
            </ul>
            } @else {
            <small class="owl-small-text"
              >Aucune class parente disponible.</small
            >
            }
          </section>
        </section>
      </section>
    </mat-tab>
    <!------------Property------------>
    <mat-tab label="Property">Content 2</mat-tab>
    <!----------Instance------------->
    <mat-tab label="Instance">
      <small class="owl-small-text"
        >Interragissez avec les panneaux ci-dessous pour consulter les
        différentes informations</small
      >
      <!----Expansion panel---->
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title> Instance(s) </mat-panel-title>
            <mat-panel-description>
              Liste de toue les instance de la classe {{ data.value }}.
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Instance de la classe {{ data.value }}.</p>
          <section>
            @if (instance?.length != 0) {
            <ul>
              @for (item of instance; track $index) {
              <li>{{ item }}</li>
              }
            </ul>
            } @else {
            <small class="owl-small-text">Aucune instance disponible.</small>
            }
          </section>
        </mat-expansion-panel>
        <mat-expansion-panel
          (opened)="panelOpenState.set(true)"
          (closed)="panelOpenState.set(false)"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> Property relation </mat-panel-title>
            <mat-panel-description>
              Relation entre les instances
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Relation</p>
          <section>
            @if (relation.results.bindings != 0) { @for (item of relation.results.bindings; track
            $index) {
            <div class="m-2 owl-small-text">
              <span >{{ item["instance"].value.split("#")[1] }}</span>
              <span >
                {{ item["property"].value.split("#")[1] }}
              </span>
              <span >{{ item["value"].value.split("#")[1] }}</span>
            </div>

            } } @else {
              <small class="owl-small-text">Aucune relation disponible.</small>
            }
          </section>
        </mat-expansion-panel>
      </mat-accordion>

      <!--------------->
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
