.owl-title{
  font-weight: 500;
  font-size: clamp(1rem,3vw,1.5rem);
  border-bottom: 1px solid #FFFFFF;
}

.owl-text{
  letter-spacing: 1px;
  font-weight: 300;
}

.owl-small-text{
  font-weight: 300;
  letter-spacing: 1px;
}
